<!-- este es nuestro componente principal, y aqui vamos a poner dentro header, body y footer -->
<app-pages></app-pages>

<router-outlet></router-outlet>

<!--
  Vamos a ver como es que es el funcionamiento de componentes en angular

los componentes son elementos como si fueran contenedores o etiquetas DIV de html

<div>
  Esto seria un componente, como ejemplo
</div
vamos a meter otro componente dentro de otro mas
<div> Nivel 0
  <div> Nivel 1
    <div>Nivel 2 - 0 y asi infinitamente

    </div
    <div>Nivel 2 - 1

    </div
  </div
</div

Ahora veamos como es en angular

Ahora como se pueden mostrar en el HTML

-->
