<p>pages works!</p>

<div class="container" *ngIf="items.length <= 0; else template">No hay informacion</div>

<ng-template #template>
  <ul>  <!-- ahora veamos el ngfor
        El li se repetira tantas veces como elementos haya en el array de items y items lo traemos
        del archivo TS que de cierta forma es nuestro back o code behind
        esta pintando obecjt porque como tal es un objeto y no es directamente un string
        boleano o numerico, como mostramos estos valores
        -->
    <li *ngFor="let item of items">
      {{item.nombre}} - {{item.edad}} - {{item.activo}}
      <!-- debemos usar {{}} ya que estan conteniendo informacion que angular reconoce -->
    </li>
  </ul>
</ng-template>
<!--
  aqui podemos usar un div o un nuevo elemento llamado template que es propio de angular
  la ventaja de usar el template es que solo se crea y se invoca si el if asi lo dispone
  si usamos la negacion del if angular evalua 2 veces, vamos
-->

<mi-header></mi-header>
<app-body></app-body>
<app-footer></app-footer>

<!-- salvemos y veamos el resultado

  como se que se llaman asi los  componentes

  app-header, app-body, etc

  esta relacionado con su archivo de typescript

  veamos que contiene solo para que sepan q se puede modificar el nombre pero

  al ser creado por el angular CLI osea la linea de comandos se generan de modo automatico

  utilizando el nombre que le dimos al componente anteponiendo "app-"

  veamos

-->
